# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.yarn/
.pnp.*

# Build outputs
dist/
build/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Local env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.tgz
*.zip

# Microfrontend remote entries
remoteEntry.js
